body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#login-panel, #app {
    padding: 20px;
}

#login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-panel input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

#map {
    height: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#worker-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#validator-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.validator {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.validator h3 {
    margin: 0;
    font-size: 1.2em;
}

.validator p {
    margin: 5px 0;
}
